body, header, li, ul, nav, main, p {margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.logo img {
    size: 10px;
}

nav {text-align: right;
    position: relative;
    right: 10%;
    bottom: 30%;}

nav li {display: inline-block;
    padding: 2%;}

nav li a {text-decoration: none;
    color: rgb(115, 115, 115);
    font-weight: bolder;}

.images li {display: inline-block;
    height: 490px;
    width: 490px;
    position: relative;
    bottom: 120px;
    right: 10px;}

.images li img {max-width: 100%;}

.images1 li {display: inline-block;
    height: 490px;
    width: 490px;
    position: relative;
    bottom: 278px;
    right: 10px;}

.images1 li img {max-width: 100%;}

.images2 li {display: inline-block;
    height: 490px;
    width: 490px;
    position: relative;
    bottom: 437px;
    right: 10px;}

.images2 li img {max-width: 100%;}

p {text-align: center;
    font-size: 28px;
    position: relative;
    bottom: 500px;}

nav li a:hover {color: rgb(206, 187, 63);
    text-decoration: underline;}

.images li :hover {
    color: black;
    position: relative;
    bottom: 5px;
}